{% extends "base.html" %}

{% block html_title %}{{ block.super }} - Members{% endblock html_title %}

{% block content %}

<div class="row">
	{% for person in members %}
		 	<div class="col s3 center-align">
			<img src="http://via.placeholder.com/200x200" class="circle">
			<p><strong>{{ person.name }}</strong> </p>
			<p> {{ person.instrument }}</p>
			<p> {{ person.description }}</p>
			<p> <small> {{ person.get_gender_display }} </small> </p> 
		</div>
	{% endfor %}
	</div>

{% endblock content %}
