{% extends "base.html" %}

{% block html_title %}{{ block.super }} - Members{% endblock html_title %}

{% block content %}

<div class="row">
	{% for person in members %}
	 	<div class="col s3 center-align">
			<img src="{% if person.image %}{{ person.image.url }}{% else %}http://via.placeholder.com/200x200{% endif %}" class="circle">
			<p><strong>{{ person.name }}</strong> </p>
			<p>
			{% if person.gender == 'M' %}He{% elif person.gender == 'F' %}She{% elif person.gender == 'O' %}Their{% endif %}

			 use's {{ person.instrument }}</p>
			Information about him: <p> {{ person.description|truncatewords:10 }}</p>
			<p> <small> {{ person.get_gender_display }} </small> </p>
		</div>
	{% endfor %}
	</div>

    {% endblock content %}
