{% extends "base.html" %}

{% block html_title %}{{ block.super }} - Products{% endblock html_title %}

{% block content %}

		{% if products_list  %}
		<h2>This are the products we're offering at the moment</h2>
		<ul>
			{% for product in products_list %}
			<!--<li>{{ product.image}}</li>-->
			<li>{{ product.name }} ({{product.type_of_product}})</li>
			<li>$u {{ product.price }}</li>

			{% endfor %}
			</ul>
		{% else %}
		<h2>No Products Avaliable</h2>
		{% endif %}


{% endblock content %}
